{% extends "irises_analysis/layout.html" %}
{% load static %}

{% block body %}

<ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="{%url 'index'%}">Main Page</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{%url 'add'%}">Add</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{%url 'predict'%}">Predict</a>
    </li>
</ul>

<form id="addIrisForm" method="post" action="http://127.0.0.1:8000/api/data">
    <div class="row mb-3 row-input">
        <h2>Add new iris</h2>
    </div>
    {% csrf_token %}
    <div class="row mb-3 row-input">
        <div class="input-group addFormInput">
            {{ form.sepal_length }}
            <span class="input-group-text">cm</span>
            <span class="input-group-text">0.00</span>
        </div>
        <div class="input-group addFormInput">
            {{ form.sepal_width }}
            <span class="input-group-text">cm</span>
            <span class="input-group-text">0.00</span>
        </div>
    </div>
    <p> </p>

    <div class="row mb-3 row-input">
        <div class="input-group addFormInput">
            {{ form.petal_length }}
            <span class="input-group-text">cm</span>
            <span class="input-group-text">0.00</span>
        </div>
        <div class="input-group addFormInput">
            {{ form.petal_width }}
            <span class="input-group-text">cm</span>
            <span class="input-group-text">0.00</span>
        </div>
    </div>

    <div class="row mb-3 row-input">
        <legend class="col-form-label col-sm-2 pt-0">Class</legend>
        {{ form.iris_class }}
    </div>

    <div class="row mb-3 row-input">
        <button type="submit" class="btn btn-primary">Add new iris</button>
    </div>


</form>
{% endblock %}
